<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.aofeng.hotline" android:versionCode="1" android:versionName="0.0.1-SNAPSHOT">

  <uses-sdk android:minSdkVersion="16"
            android:targetSdkVersion="16" />
  <!-- 授予相机权限 -->
  <uses-permission  android:name="android.permission.CAMERA"/>
  <uses-feature android:name="android.hardware.comera"/>
  <uses-feature android:name="android.hardware.comera.autofocus"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <!-- 电话权限 -->
  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <!-- 授予网络访问权利 -->
  <uses-permission android:name="android.permission.INTERNET" />
  
  <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".HotlineApp"
       android:theme="@android:style/Theme.NoTitleBar"  android:largeHeap="true">
    <!--LoginActivity-->
    <activity android:name=".activity.LoginActivity" 
         android:screenOrientation="portrait"  
         android:windowSoftInputMode="adjustNothing|stateHidden" 
         android:launchMode="singleTop"
         android:stateNotNeeded="true">
      <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <!-- 维修人员选择 -->
	 <activity android:name=".activity.MechanicsChooserActivity" android:screenOrientation="portrait"></activity>
    <!-- 主界面 -->
	 <activity android:name=".activity.MainActivity" android:screenOrientation="portrait"></activity>
    <!-- 设置界面 -->
    <activity android:name=".activity.SetupActivity" android:screenOrientation="portrait"></activity>
    <!-- 维修单显示界面 -->
    <activity android:name="com.aofeng.hotline.activity.SlipActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden"></activity>
   <!-- 拍照界面 -->
   <activity android:name=".activity.ShootActivity" android:screenOrientation="landscape"></activity>
    <!-- 批量上传 -->
   <activity android:name=".activity.UploadActivity" android:screenOrientation="portrait"></activity>
   <!-- 查看历史工单 -->
   <activity android:name=".activity.showhisActivity" android:screenOrientation="portrait"></activity>
	<!-- 提取数据服务 -->
   	<service android:name=".service.AlarmService"/>
   <!-- 位置服务 -->
   <service android:name=".service.GeoService"/> 
</application>

</manifest>

